<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic,400italic' rel='stylesheet' type='text/css'>
		
		
		
		
		<meta http-equiv="content-type" content="charset=utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="styles/base.css" />
		
		<title>Twitter Earth: Toilets</title>
		
		
		
	</head>
	<body>
		<div id="three"></div>
		<script charset="utf-8" src="scripts/jquery.js"></script>
		<script charset="utf-8" src="scripts/three.js"></script>
		<script charset="utf-8" src="scripts/skip.js"></script>
		<script charset="utf-8" src="scripts/database.js"></script>
		<script charset="utf-8" src="scripts/application.js"></script>
		<!--  Load the Google Maps API library  -->
		
		<h1><img src="media/twitter-bird.png" alt="twitter bird" align = "top" width="48" height="48" >Toilet Earth</h1>
<!-- 		<p><h2>Toilet</h2></p> -->
		<br><h3>tweets with toilets around the world</h3></p>

		<!-- <div class = 'img'><img src="media/redbinder.png" alt="red binder" align = "top" width="420" height="476"></div> -->

	<!--
	<div id = "puppyTweets">
		</div>
-->
		
<!--
	
		<input id="tweet_search" type="text" />
		<input id="tweet_submit" type="submit" />
-->


		<div id="embeds"></div>
		
		
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false">
					</script>
					
					
				
		
	</body>
</html>

